{% if book_details %}
    <img src="{{ book_details['Image-URL-L'] }}" alt="{{ book_details['Book-Title'] }}">
    <h1>{{ book_details['Book-Title'] }}</h1>
    <p><strong>Author:</strong> {{ book_details['Book-Author'] }}</p>
    <p><strong>Publisher:</strong> {{ book_details['Publisher'] }} ({{ book_details['Year-Of-Publication'] }})</p>
    
    {% if book_details['avg_rating'] %}
        <p><strong>Average Rating:</strong> {{ book_details['avg_rating']| round(1) }}</p>
        <p><strong>Number of Ratings:</strong> {{ book_details['num_ratings'] }}</p>
    {% else %}
        <p>No ratings available</p>
    {% endif %}

{% else %}
    <p>Book not found.</p>
{% endif %}

{% if exists %}
  <h2>Recommended Books</h2>

  {% for book in recommendations %}
    <a href="/book/{{ book['Book-Title'] }}">
        {{ book['Book-Title'] }}
    </a>

    <p>{{ book['Book-Author'] }}</p>

    <img src="{{ book['Image-URL-L'] }}" 
         alt="{{ book['Book-Title'] }}">
  {% endfor %}

{% else %}
  <h2>You may also like</h2>

        {% for book in fallback_books %}
            <a href="/book/{{ book['Book-Title'] }}">
                {{ book['Book-Title'] }}
            </a>
            <p>{{ book['Book-Author'] }}</p>
            <img src="{{ book['Image-URL-L'] }}">
        {% endfor %}
{% endif %}
