<!DOCTYPE html>
<html>

<head>
    <title>Book Recs</title>
</head>

<body>
    <h1>Welcome to the Book Recommendation System</h1>
    <p>Finding your next favorite read...</p>
    <form action="/search" method="POST">
        <input type="text" name="user_input" placeholder="Search books">
        <button type="submit">Search</button>
    </form>

    <h3>Popular books</h3>
    <div class="books-container">
  {% for book in top_10_popular %}
  <div class="book-card">
    <img src="{{ book['Image-URL-L'] }}" alt="{{ book['Book-Title'] }}" width="150">
    <a href="/book/{{ book['Book-Title'] }}">
        {{ book['Book-Title'] }}
    </a>
    <p>by {{ book['Book-Author'] }}</p>
    <p>stars: {{ book['avg_rating'] | round(1) }} ({{ book['num_ratings'] }} ratings)</p>
  </div>
  {% endfor %}
</div>
</body>

</html>