<!DOCTYPE html>
<html>

<head>
    <title>Book Recs</title>
</head>

<body>
    <h1>Welcome to the Book Recommendation System</h1>
    <p>Finding your next favorite read...</p>
    <form action="/search" method="POST">
        <input type="text" name="user_input" placeholder="Search books">
        <button type="submit">Search</button>
    </form>

    <div>{% for i in range(book_name|length) %}
        <h3>{{ book_name[i] }}</h3>
        <img src="{{ image[i] }}">
        {% endfor %}
    </div>
</body>

</html>