<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NextRead</title>

  <!-- Google Fonts -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet">

<link rel="stylesheet" href="/static/css/homepage.css">

</head>

<body>

  <div class="navbar">
    <div class="logo">NEXTREAD</div>
  </div>


  <div class="hero">
    <div class="hero-card">

      <div class="hero-title">Every great book <br>
        <span style="font-style:italic;color:var(--accent-hover)">
          leads
        </span>
        to another.
      </div>
      <div class="hero-sub">Tell us a book you enjoyed.
        We'll help you find the next one.</div>

      <form action="/search" method="POST">
        <div class="search-container">
          <input id="searchInput" class="search-bar" type="text" name="user_input" placeholder="Search a book title..">
          <button class="search-btn" type="submit"><svg xmlns="http://www.w3.org/2000/svg" height="30px"
              viewBox="0 -960 960 960" width="30px" fill="#e3e3e3">
              <path
                d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
            </svg></button>
        </div>
      </form>

      <div class="example">
        Try:
        <span onclick="fill('Harry Potter')">Harry Potter</span>,
        <span onclick="fill('The Alchemist')">The Alchemist</span>,
        <span onclick="fill('It Ends With Us')">It Ends With Us</span>
      </div>


    </div>
  </div>
  <div class="section-divider"></div>
  

  <!--Popular books-->
  <div class="start-section">

    <h2 class="section-title">
       Readers' Favourites
    </h2>

    <p class="section-sub">
      Explore highly rated books from our collection.
    </p>

    <div class="book-grid">
      {% for book in top_10_popular %}
      <a class="book" href="/book/{{ book['Book-Title'] | urlencode }}">

        <img src="{{ book['Image-URL-L'] }}" alt="{{ book['Book-Title'] }}">

        <div class="book-title">
          {{ book['Book-Title'][:32] }}
        </div>

        <div class="book-author">
          {{ book['Book-Author'] }}
        </div>

      </a>
      {% endfor %}
    </div>

  </div>

  <script>
    function fill(name) {
      const input = document.getElementById("searchInput");
      input.value = name;
      input.focus();
    }
  </script>

</body>

</html>